<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>PowerPoint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Check the box of logos you would like to add</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6" *ngFor="let logo of photoService.logos; index as position">
          <ion-img [src]="logo.webviewPath" style="max-height:100px;"></ion-img>
          <input type="checkbox" [(ngModel)]="logo.selected">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button expand="full" color="primary" (click)="newSlide()" [disabled]="!isLogoSelected()">New Slide</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="askToAddDate()" [disabled]="!isLogoSelected()">Save this Slide</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="createPresentation()" [disabled]="!isLogoSelected()">Confirm</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button expand="full" color="medium" (click)="gobacktoTemplates()">Go Back To Templates Selection</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
