<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registration Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Outlet Name</ion-label>
        <ion-input type="text" formControlName="outletName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Outlet Code</ion-label>
        <ion-input type="text" formControlName="outletCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Channel</ion-label>
        <ion-input type="text" formControlName="channel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Township</ion-label>
        <ion-input type="text" formControlName="township"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Team</ion-label>
        <ion-input type="text" formControlName="team"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" color="primary">Next</ion-button>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of getPhotosForTemplate(); index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>