<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Template 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Template 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="scroll-container">
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position, 'photo')"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
      <ion-button expand="full" color="primary" (click)="photoService.addNewToGallery3Pics()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Take Photo
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="primary" (click)="photoService.takePicFromGallery3Pics()">
        <ion-icon slot="start" name="images"></ion-icon>
        Select from Gallery
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row class="scroll-container">
      <ion-col size="6" *ngFor="let logo of photoService.logos; index as position">
        <ion-img [src]="logo.webviewPath" (click)="showActionSheet(logo, position, 'logo')"></ion-img>
      </ion-col>
    </ion-row>
</ion-grid>

  <ion-row>
    <ion-col>
      <ion-button expand="full" color="primary" (click)="photoService.addNewLogoToGallery()" 
                  [disabled]="photoService.logos.length >= 2">
        <ion-icon slot="start" name="camera"></ion-icon>
        Upload Logo
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-button vertical="bottom" horizontal="center" expand="block" color="primary" (click)="submit()">Submit</ion-button>

</ion-content>
